<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/datasource-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Datasource</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="clone()" [disabled]="!validParameters">
        <ion-icon slot="icon-only" name="copy" color="secondary"></ion-icon>
      </ion-button>
      <ion-button *ngIf="datasource?.permission === 'W'" (click)="delete()">
        <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="datasource">
  <ion-card >
    <ion-card-header>
      <ion-card-title>
        Datasource Baisc Properties
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Datasource Name</ion-label>
        <ion-input [readonly]="datasource.permission !== 'W'" name="name" [(ngModel)]="datasource.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Datasource Type</ion-label>
        <ion-input name="type" [value]="datasource.type" readonly="true" disabled="true"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>


  <ng-container [ngSwitch]="datasource.type">
    <ng-container *ngSwitchCase="'jdbc'">
      <app-jdbc-datasource-parameters #jdbc (onInit)="dsParameters = jdbc"
                                      [definition]="datasource"
                                      [parameters]="datasource.parameters"
                                      [properties]="datasource.properties"
                                      (isValid)="validParameters = $event"></app-jdbc-datasource-parameters>
    </ng-container>
    <ng-container *ngSwitchCase="'rest'">
      <app-rest-datasource-parameters #rest (onInit)="dsParameters = rest"
                                      [definition]="datasource"
                                      [parameters]="datasource.parameters"
                                      [properties]="datasource.properties"
                                      (isValid)="validParameters = $event"></app-rest-datasource-parameters>
    </ng-container>
  </ng-container>


  <app-sharing-options [securedResource]="datasource"></app-sharing-options>
  <app-backup-manager *ngIf="datasource" resourceType="DATASOURCE" [resourceId]="datasource.id"
                      [canWrite]="datasource.permission === 'W'"
                      (restoreEmitter)="datasource = $event"></app-backup-manager>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Usages
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="datasource?.usages?.length else empty">
        <ion-item lines="full" *ngFor="let r of datasource.usages" routerLink="/renderer-detail/{{r.id}}" [disabled]="r.permission === null">
          <ion-label>{{r.name}}</ion-label>
        </ion-item>
      </ion-list>
      <ng-template #empty>
        No usages...
      </ng-template>
    </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer>
  <ion-toolbar class="ion-text-end">
    <ion-button fill="clear" color="secondary" (click)="dsParameters?.checkQuery()">
      Validate Parameters
    </ion-button>
    <ion-button *ngIf="datasource?.permission === 'W'" fill="clear" [disabled]="!validParameters" (click)="saveParameters()">
      Save
    </ion-button>
  </ion-toolbar>
</ion-footer>
