<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/datasource-list"></ion-back-button>
    </ion-buttons>
    <ion-title>New Datasource</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Datasource Name</ion-label>
    <ion-input name="name" [(ngModel)]="datasourceName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Datasource Type</ion-label>
    <ion-select name="dataSourceType" [(ngModel)]="dataSourceType">
      <ion-select-option *ngFor="let t of types" [value]="t.type">
        {{t.name}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ng-container *ngIf="dataSourceType">
    <ng-container [ngSwitch]="dataSourceType">
      <ng-container *ngSwitchCase="'jdbc'">
        <app-jdbc-datasource-parameters #jdbc (onInit)="dsParameters = jdbc" (isValid)="validParameters = $event"></app-jdbc-datasource-parameters>
      </ng-container>
      <ng-container *ngSwitchCase="'rest'">
        <app-rest-datasource-parameters #rest (onInit)="dsParameters = rest" (isValid)="validParameters = $event"></app-rest-datasource-parameters>
      </ng-container>
    </ng-container>
  </ng-container>
</ion-content>
<ion-footer>
  <ion-toolbar class="ion-text-end">
    <ion-button color="secondary" (click)="dsParameters?.checkQuery()">
      Validate Parameters
    </ion-button>
    <ion-button [disabled]="!validParameters" (click)="saveParameters()">
      Confirm
    </ion-button>
  </ion-toolbar>
</ion-footer>
