<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Templates</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="createTemplate()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="doSearch($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid *ngIf="!search">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-breadcrumbs>
              <ion-breadcrumb routerLink="/template-list">Root</ion-breadcrumb>
              <ion-breadcrumb *ngFor="let folder of currentFolder" [routerLink]="'/template-list' + folder.path">{{folder.name}}</ion-breadcrumb>
            </ion-breadcrumbs>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let folder of folders" size="4">
        <ion-card [routerLink]="folder.path">
          <ion-card-content>
            <ion-icon name="folder"></ion-icon>&nbsp;{{folder.name}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ng-container *ngIf="!elements">
        <ng-container *ngFor="let t of [1,2,3]">
          <ion-col size-sm="12" size-md="6" size-lg="6" size-xl="4">
            <ion-card>
              <ion-card-header>
                <ion-card-title><ion-skeleton-text animated="true"></ion-skeleton-text></ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-img class="ion-padding" style="height: 500px"><ion-skeleton-text animated="true"></ion-skeleton-text></ion-img>
              </ion-card-content>
              <div class="ion-text-end">
                <ion-button fill="clear" color="primary"  disabled="true">Edit</ion-button>
                <ion-button fill="clear" color="primary"  disabled="true">Draw</ion-button>
                <ion-button fill="clear" color="secondary" disabled="true" >Render</ion-button>
                <ion-button fill="clear" color="secondary" disabled="true">Print</ion-button>
                <ion-button fill="clear" color="danger" disabled="true" >Delete</ion-button>
              </div>
            </ion-card>
          </ion-col>
        </ng-container>
      </ng-container>

      <ng-container *ngFor="let t of elements">
        <ion-col size-sm="12" size-md="6" size-lg="6" size-xl="4">
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{t.name}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-img class="ion-padding" style="height: 500px" [src]="t.img"></ion-img>
            </ion-card-content>
            <div class="ion-text-end">
              <ion-button fill="clear" color="primary" (click)="openTemplate(t)">Open</ion-button>
              <ion-button fill="clear" color="secondary" (click)="renderTemplate(t)">Render</ion-button>
              <ion-button fill="clear" color="secondary" (click)="printTemplate(t)">Print</ion-button>
            </div>
          </ion-card>
        </ion-col>

      </ng-container>
    </ion-row>
  </ion-grid>
    <ion-infinite-scroll (ionInfinite)="handleLoadMore($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
