<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/renderer-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Renderer</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="clone()" [disabled]="!renderer?.name">
        <ion-icon slot="icon-only" name="copy" color="secondary"></ion-icon>
      </ion-button>
      <ion-button color="primary" routerLink="/render-new">
        <ion-button *ngIf="renderer" (click)="delete(renderer)">
          <ion-icon color="danger" name="trash" slot="end" tappable="true"></ion-icon>
        </ion-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="renderer">

  <form>
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input name="name" [(ngModel)]="renderer.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Template</ion-label>
      <ion-input name="template" [(ngModel)]="renderer.template.name" readonly="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Datasource</ion-label>
      <app-typeahead-select slot="end" [multiple]="true" [fetcher]="datasourceService"
                            [value]="renderer.datasourceProperties"
                            (confirm)="renderer.datasourceProperties = $event; updateAvailableAssociations($event)"></app-typeahead-select>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="8">

          <ion-card style="height: 100%">
            <ion-card-header>
              <ion-card-title>Association Map</ion-card-title>
            </ion-card-header>
            <ion-card-content>

              <ion-item *ngFor="let p of renderer.template.markers.sort()" #i
                        (click)="presentPopover(popover, $event, i)">
                <ion-grid class="ion-no-padding" (click)="$event.preventDefault()">
                  <ion-row>
                    <ion-col size="4">{{p}}</ion-col>
                    <ion-col>
                      <ng-container *ngIf="renderer.associationMap[p]?.association else empty">
                        <ng-container *ngIf="renderer.associationMap[p]?.association?.ds else parameter">
                          {{renderer.associationMap[p].association.ds.name}}
                          - {{renderer.associationMap[p].association.property.name}}
                        </ng-container>
                        <ng-template #parameter>
                          Parameter
                        </ng-template>
                      </ng-container>
                      <ng-template #empty>
                        Empty
                      </ng-template>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <ion-popover #popover>
                  <ng-template>
                    <ion-content style="max-height: 350px;">
                      <ion-item>
                        <ion-searchbar #sb></ion-searchbar>
                      </ion-item>
                      <ion-item (click)="updateAssociationMap(p, null); popover.dismiss()" tappable="true">Empty
                      </ion-item>
                      <ion-item (click)="updateAssociationMap(p, 'parameter'); popover.dismiss()">Parameter</ion-item>
                      <ng-container *ngFor="let ap of availableProperties">
                        <ion-item
                          *ngIf="ap.ds.name.toLowerCase().includes(sb.value?.toLowerCase() + '') || ap.property.name.toLowerCase().includes(sb.value?.toLowerCase() + '')"
                          tappable="true" (click)="updateAssociationMap(p, ap); popover.dismiss()">
                          {{ap.ds.name}}
                          - {{ap.property.name}} ({{ap.property.helper}})
                        </ion-item>
                      </ng-container>

                    </ion-content>

                  </ng-template>
                </ion-popover>
                <!--
                <ion-select style="max-width: 100%" #s interface="popover" (ionChange)="updateAssociationMap(p, s.value)" [value]="oldAssoc[p]"
                            placeholder="Datasource">
                  <ion-select-option [value]="null"><ion-text color="light">Empty</ion-text></ion-select-option>
                  <ion-select-option value="parameter">Parameter</ion-select-option>
                  <ion-select-option *ngFor="let p of availableProperties" [value]="p">{{p.ds.name}}
                    - {{p.property.name}} ({{p.property.helper}})</ion-select-option>
                </ion-select>-->

              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{renderer.template.name}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-img class="ion-padding" style="height: 300px" [src]="renderer.template.img"></ion-img>
            </ion-card-content>
            <ion-button fill="clear" color="secondary" (click)="openViewer(renderer.template)">View</ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="this.renderer?.datasourceProperties?.length">
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Parameters</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ng-container *ngFor="let p of this.parameters">
                <ion-item #i (click)="presentPopover(paramPopover, $event, i)">
                  <ion-grid class="ion-no-padding" (click)="$event.preventDefault()">
                    <ion-row>
                      <ion-col size="4">{{p}}</ion-col>
                      <ion-col>
                        <ng-container *ngIf="renderer.parametersMap[p]?.association?.ds else parameter">
                          {{renderer.parametersMap[p].association.ds.name}}
                          - {{renderer.parametersMap[p].association.property.name}}
                        </ng-container>
                        <ng-template #parameter>
                          Parameter
                        </ng-template>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
                <ion-popover #paramPopover>
                  <ng-template>
                    <ion-content style="max-height: 350px;">
                      <ion-item>
                        <ion-searchbar #sb></ion-searchbar>
                      </ion-item>
                      <ion-item (click)="updateParameterMap(p, 'parameter'); paramPopover.dismiss()">Parameter
                      </ion-item>
                      <ng-container *ngFor="let ap of availableProperties">
                        <ion-item
                          *ngIf="ap.ds.name.toLowerCase().includes(sb.value?.toLowerCase() + '') || ap.property.name.toLowerCase().includes(sb.value?.toLowerCase() + '')"
                          tappable="true"
                          (click)="updateParameterMap(p, ap); paramPopover.dismiss()">
                          {{ap.ds.name}}
                          - {{ap.property.name}} ({{ap.property.helper}})
                        </ion-item>
                      </ng-container>

                    </ion-content>

                  </ng-template>
                </ion-popover>
              </ng-container>
            </ion-card-content>
          </ion-card>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-sharing-options [securedResource]="renderer"></app-sharing-options>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-backup-manager *ngIf="renderer" resourceType="RENDERER" [resourceId]="renderer.id"
                              (restoreEmitter)="init($event)"></app-backup-manager>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" color="secondary" (click)="playRenderer()" class="ion-margin-horizontal">Render
      </ion-button>
      <ion-button fill="clear" color="secondary" (click)="printRenderer()" class="ion-margin-horizontal">Print
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button fill="clear" color="primary" (click)="updateRenderer()" class="ion-margin-horizontal"
                  [disabled]="!renderer?.name">Save
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
