<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ApiKeys</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="modal.present()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="!elements">
    <ion-list>
      <ion-item *ngFor="let i of [0,1,2]">
        <ion-label>
          <ion-skeleton-text animated="true" style="width: 40%;"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
  <ion-list>
    <ion-item *ngFor="let key of elements">
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col>
              {{key.name}}
            </ion-col>
            <ion-col>
              {{key.userSID}}
            </ion-col>
            <ion-col>
              {{key.organizationSID}}
            </ion-col>
            <ion-col>
              <span class="ion-margin-start ion-padding-start"
                    *ngIf="key.expiry">({{(key.expiry * 1000) | date:'YYYY/MM/dd HH:ss'}})</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
      <ion-icon (click)="delete(key)" slot="end" color="danger" tappable="true" name="trash"></ion-icon>
    </ion-item>

  </ion-list>
  <ion-infinite-scroll (ionInfinite)="handleLoadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-modal #modal>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="modal.dismiss()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Create ApiKey</ion-title>
          <ion-buttons slot="end">
            <ion-button [disabled]="!name.value || !usid.value ||!osid.value" (click)="createApiKey(modal, name.value,
             usid.value,
             osid.value,
             expiry.value)" [strong]="true">Confirm
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Enter Key name</ion-label>
          <ion-input #name type="text" placeholder="Key name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">User SID</ion-label>
          <ion-input #usid pattern="api_usid_[a-z0-9_]+" type="text" value="api_usid_default"
                     (ionInput)="cleanSID($event, usid, 'api_usid_')"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Organization SID</ion-label>
          <ion-input #osid pattern="api_osid_[a-z0-9_]+" type="text" value="api_osid_default"
                     (ionInput)="cleanSID($event, osid, 'api_osid_')"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Expire At</ion-label>
          <ion-input #expiry type="datetime-local"></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
