<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Clients</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ng-container *ngIf="!elements">
        <ion-col size-sm="12" size-md="6" size-lg="6" size-xl="4" *ngFor="let i of [1,2,3]">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <ion-skeleton-text animated="true" style="width: 60%"></ion-skeleton-text>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ul>
                <li *ngFor="let s of [1,2,3]">
                  <ion-skeleton-text animated="true" style="width: 40%"></ion-skeleton-text>
                </li>
              </ul>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ng-container>
      <ion-col size-sm="12" size-md="6" size-lg="6" size-xl="4" *ngFor="let c of elements">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              {{c.name}}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ul>
              <li *ngFor="let s of c.printServices">
                {{s}}
              </li>
            </ul>
          </ion-card-content>
          <div class="ion-text-end" *ngIf="c.permission === 'W'">
            <ion-button fill="clear" color="secondary" (click)="selectedClient = c; modal.present()">Sharing Options</ion-button>
            <ion-button fill="clear" color="danger" (click)="unregister(c)">Unregister</ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="handleLoadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-modal #modal>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="modal.dismiss()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Sharing Options</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="updateSharingOptions(modal)" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <app-sharing-options [securedResource]="selectedClient"></app-sharing-options>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
