<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only">
          Close
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Print Request
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label>Copies</ion-label>
    <ion-input class="ion-text-end" type="number" min="1" max="100" name="copies" [(ngModel)]="request.copies"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Client</ion-label>
    <ion-select name="client" [(ngModel)]="request.client">
      <ion-select-option *ngFor="let c of clients" [value]="c">{{c.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item [disabled]="!request.client">
    <ion-label>Print Service</ion-label>
    <ion-select name="service" [(ngModel)]="request.printService">
      <ion-select-option *ngFor="let s of request?.client?.printServices" [value]="s">{{s}}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
