<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Template</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="clone()" [disabled]="!template?.name">
        <ion-icon slot="icon-only" name="copy" color="secondary"></ion-icon>
      </ion-button>
      <ion-button color="primary" routerLink="/render-new">
        <ion-button *ngIf="template" (click)="delete(template)">
          <ion-icon color="danger" name="trash" slot="end" tappable="true"></ion-icon>
        </ion-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="template">

  <form>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                Basic Template Properties
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label>Name</ion-label>
                <ion-input name="name" [(ngModel)]="template.name"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Folder</ion-label>
                <ion-input  pattern="^\/(.)*" name="folder" [(ngModel)]="template.folder"
                            [debounce]="500"
                            appAutocomplete [autocompleteProvider]="folderAutocomplete">
                </ion-input>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                Template
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-img class="ion-padding" style="height: 500px" [src]="template.img"></ion-img>
            </ion-card-content>
            <div class="ion-text-end">
              <ion-button fill="clear" color="primary" (click)="openEditor()">Draw</ion-button>
              <!--<ion-button fill="clear" color="primary" (click)="openJinjaEditor()">Edit Jinja Blocks</ion-button>-->
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="3">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                Markers
              </ion-card-title>
            </ion-card-header>
            <ion-card-content style="height: 556px;">
              <li *ngFor="let m of template.markers">
                 {{m}}
              </li>
            </ion-card-content>
          </ion-card>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>

          <app-sharing-options [securedResource]="template"></app-sharing-options>
        </ion-col>
      </ion-row>
    </ion-grid>






  </form>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" color="secondary" (click)="render()" class="ion-margin-horizontal">Render
      </ion-button>
      <ion-button fill="clear" color="secondary" (click)="print()" class="ion-margin-horizontal">Print
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button fill="clear" color="primary" (click)="update()" class="ion-margin-horizontal"
                  [disabled]="!template?.name">Save
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
