<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()" >
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Template</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toForm()" [disabled]="!template?.name">
        <ion-icon slot="icon-only" name="create-outline" color="tertiary"></ion-icon>
      </ion-button>
      <ion-button (click)="clone()" [disabled]="!template?.name">
        <ion-icon slot="icon-only" name="copy" color="secondary"></ion-icon>
      </ion-button>
      <ion-button color="primary">
        <ion-button *ngIf="template && template.permission === 'W'" (click)="delete(template)">
          <ion-icon color="danger" name="trash" slot="end" tappable="true"></ion-icon>
        </ion-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
<ng-container *ngIf="template else loading">

  <ion-grid class="ion-no-padding">
    <form>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                Basic Template Properties
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label>Name</ion-label>
                <ion-input [readonly]="template.permission !== 'W'" name="name" [(ngModel)]="template.name"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Folder</ion-label>
                <ion-input [readonly]="template.permission !== 'W'" pattern="^\/(.)*" name="folder" [(ngModel)]="template.folder"
                           [debounce]="500"
                           appAutocomplete [autocompleteProvider]="folderAutocomplete">
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Id</ion-label>
                {{template.id}}
                <ion-button slot="end" fill="clear" (click)="navigator.clipboard.writeText(template.id); guiUtils.copied()">
                  <ion-icon slot="icon-only" name="copy" tappable="true" >
                  </ion-icon>
                </ion-button>

              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                Template
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-img class="ion-padding" style="height: 500px" [src]="template.img"></ion-img>
            </ion-card-content>
            <div class="ion-text-end">
              <ion-button  *ngIf="template?.permission === 'W' else view" fill="clear" color="primary" (click)="openEditor()">Draw</ion-button>
              <ng-template #view>
                <ion-button fill="clear" color="primary" (click)="openViewer()">View</ion-button>
              </ng-template>
              <!--<ion-button fill="clear" color="primary" (click)="openJinjaEditor()">Edit Jinja Blocks</ion-button>-->
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="3">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                Markers
              </ion-card-title>
            </ion-card-header>
            <ion-card-content style="height: 556px;">
              <li *ngFor="let m of template.markers">
                {{m}}
              </li>
            </ion-card-content>
          </ion-card>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>

          <app-sharing-options [securedResource]="template"></app-sharing-options>
        </ion-col>
      </ion-row>

    </form>
    <ion-row *ngIf="template">
      <ion-col>
        <app-backup-manager resourceType="TEMPLATE" [resourceId]="template.id"  [canWrite]="template.permission === 'W'"
        (restoreEmitter)="template = $event"></app-backup-manager>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Usages
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list *ngIf="template?.usages?.length else empty">
              <ion-item lines="full" *ngFor="let r of template.usages" routerLink="/renderer-detail/{{r.id}}" [disabled]="r.permission === null">
                <ion-label>{{r.name}}</ion-label>
                <ion-icon  *ngIf="r.permission === null" slot="end" name="lock-closed-outline"></ion-icon>
              </ion-item>
            </ion-list>
            <ng-template #empty>
              No usages...
            </ng-template>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ng-container>
  <ng-template #loading>
    <ion-grid class="ion-no-padding">
      <form>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-title>
                  Basic Template Properties
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-item>
                  <ion-label>Name</ion-label>
                  <ion-label><ion-skeleton-text animated="true" style="width: 80%"></ion-skeleton-text></ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>Folder</ion-label>
                  <ion-label><ion-skeleton-text animated="true" style="width: 80%"></ion-skeleton-text></ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>Id</ion-label>
                  <ion-skeleton-text animated="true" style="width: 80%"></ion-skeleton-text>
                  <ion-icon slot="end" name="copy" tappable="true"></ion-icon>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-title>
                  Template
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-img class="ion-padding" style="height: 500px">
                  <ion-skeleton-text animated="true" style="width: 100%"></ion-skeleton-text>
                </ion-img>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="3">
            <ion-card>
              <ion-card-header>
                <ion-card-title>
                  Markers
                </ion-card-title>
              </ion-card-header>
              <ion-card-content style="height: 556px;">
                <li *ngFor="let m of [1,2,3,4]">
                  <ion-skeleton-text animated="true" style="width: 50%"></ion-skeleton-text>
                </li>
              </ion-card-content>
            </ion-card>

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>

            <app-sharing-options [securedResource]="template"></app-sharing-options>
          </ion-col>
        </ion-row>

      </form>
      <ion-row *ngIf="template">
        <ion-col>
          <app-backup-manager resourceType="TEMPLATE" [resourceId]="template.id"  [canWrite]="template.permission === 'W'"
                              (restoreEmitter)="template = $event"></app-backup-manager>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                Usages
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item lines="full" *ngFor="let r of [1,2,3]">
                  <ion-label><ion-skeleton-text animated="true" style="width: 80%"></ion-skeleton-text></ion-label>
                </ion-item>
              </ion-list>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" color="secondary" (click)="render()" class="ion-margin-horizontal">Render
      </ion-button>
      <ion-button fill="clear" color="secondary" (click)="print()" class="ion-margin-horizontal">Print
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button *ngIf="template?.permission === 'W'" fill="clear" color="primary" (click)="update()" class="ion-margin-horizontal"
                  [disabled]="!template?.name">Save
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
