<ion-card>
  <ion-card-header>
    <ion-card-title>
      Connection and Query Parameters
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form #frm>
      <ion-item>
        <ion-label>Datasource URL</ion-label>
        <ion-input name="url" [(ngModel)]="definition.url" type="url"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Datasource Username</ion-label>
        <ion-input name="username" [(ngModel)]="definition.username" #username type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Datasource Password</ion-label>
        <ion-input name="password" [(ngModel)]="definition.password" type="password"></ion-input>
      </ion-item>

      <div class="ion-margin">

        <ion-label>Query</ion-label>
      </div>
      <div class="ion-margin-horizontal">
        <ngx-codemirror (codeMirrorLoaded)="codeLoaded($event)" name="query"
                        (keyup)="detectParameters()"
                        [(ngModel)]="definition.query"
                        [options]="{
    theme: 'default',
    autoRefresh: true,
    mode: 'sql',
    inputStyle: 'textarea',
    lineNumbers: true
  }" [autoFocus]="true"
        ></ngx-codemirror>
      </div>
      <ion-note slot="helper" *ngIf="checkError">
        <ion-text color="danger">
          {{checkError}}
        </ion-text>
      </ion-note>
    </form>
  </ion-card-content>
  <div class="ion-margin">
    <ion-note>Detected parameters:  {{!parameters.length ? ' --- ' : parameters.join(",")}}</ion-note>
  </div>
</ion-card>


<ion-card *ngIf="properties?.length">
  <ion-card-header>
    <ion-card-title>
      Detected Properties
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col (click)="editProperty(p)" size="4" *ngFor="let p of properties"><h2>{{p.name}}</h2>
          <small >{{p.helper}}</small>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>



