<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Secrets</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="createSecretModal.present()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="!elements">
    <ion-list>
      <ion-item *ngFor="let i of [0,1,2]">
        <ion-label>
          <ion-skeleton-text animated="true" style="width: 40%;"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
  <ion-list>
    <ion-item *ngFor="let secret of elements">
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col>
              {{secret.name}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
      <ion-icon color="secondary" (click)="selectedSecret = secret; shareModal.present()" name="share"></ion-icon>
      <ion-icon *ngIf="secret.permission === 'W'" (click)="delete(secret)" slot="end" color="danger" tappable="true" name="trash"></ion-icon>
    </ion-item>

  </ion-list>

  <ion-modal #shareModal>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="shareModal.dismiss()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Sharing Options</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="updateSharingOptions(shareModal)" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <app-sharing-options [securedResource]="selectedSecret"></app-sharing-options>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-infinite-scroll (ionInfinite)="handleLoadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-modal #createSecretModal>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="createSecretModal.dismiss()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Create Secret</ion-title>
          <ion-buttons slot="end">
            <ion-button [disabled]="!name.value || !secret.value" (click)="crateSecret(createSecretModal, name.value,
             secret.value)" [strong]="true">Confirm
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Secret name</ion-label>
          <ion-input #name type="text" placeholder="Key name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Value</ion-label>
          <ion-textarea #secret  ></ion-textarea>
        </ion-item>

      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
