<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Templates</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="createTemplate()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ng-container *ngFor="let t of templates">
        <ion-col size="3">
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{t.name}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-img class="ion-padding" style="height: 500px" [src]="t.img"></ion-img>
            </ion-card-content>
            <div class="ion-text-end">
              <ion-button fill="clear" color="primary" (click)="openEditor(t)">Edit</ion-button>
              <ion-button fill="clear" color="secondary" (click)="renderTemplate(t)">Render</ion-button>
              <ion-button fill="clear" color="danger" (click)="removeTemplate(t)">Delete</ion-button>
            </div>
          </ion-card>
        </ion-col>

      </ng-container>
    </ion-row>
  </ion-grid>


</ion-content>
